.rbc-calendar {
  border-radius: 14px;
  padding: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.rbc-toolbar {
  padding: 14px 18px;
  border-radius: 12px;
  margin-bottom: 14px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rbc-toolbar .rbc-btn-group {
  display: flex;
  gap: 8px;
}

.rbc-toolbar button {
  color: #fff;
  opacity: 0.7;
  padding: 6px 14px;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.rbc-toolbar button:hover {
color: #000;
background-color: #e2e8f0;
  opacity: 1;
}

.rbc-toolbar button.rbc-active {
  background: #fff;
  opacity: 0.7;
  border-color: #e5e6e6;
  color: #000;
}

.rbc-toolbar-label {
  color: #fff;
  opacity: 0.7;
    text-transform: uppercase;

  font-weight: 700;
  font-size: 20;
  letter-spacing: 0.5px;
}

.rbc-header {
  color: #fff;
  padding: 9px 0;
  font-weight: 700;
  opacity: 0.7;
  font-size: 0.75rem;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  border-bottom: 1px solid #e2e8f0;
}

.rbc-month-view {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ffff;
  opacity: 70;
}

.rbc-day-bg {
  background: #0000;
  border-right: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
}

.rbc-day-bg:last-child {
  border-right: none;
}

.rbc-today {
  background-color: #42585f;
  border-color: #00A095;
  opacity: 0.7;
  color: #000
}

.rbc-today .rbc-date-cell {
  color: #000
}


.rbc-date-cell {
  padding: 6px;
  font-weight: 700;
  color: #ffff;
  opacity: 0.7;
}

.rbc-event {
  background: #cdcdcd;
  border-radius: 8px;
  padding: 4px 6px;
  font-size: 0.75rem;
  font-weight: 600;
  border: none;
  color: #302e2e;
}

.rbc-event:hover {
color: #000;
background-color: #e2e8f0;
  opacity: 1;
}

.rbc-agenda-view table {
  border-collapse: collapse;
}

.rbc-agenda-view th {
  background: #bbb7b7;
  color: #0000;
  padding: 10px;
  font-weight: 700;
  border-bottom: 1px solid #e2e8f0;
}

.rbc-agenda-view td {
  padding: 10px;
  border-bottom: 1px solid #0f0f0f;
  background: #474646;
  color: #cdcdcd;
}

@media (max-width: 768px) {
  .rbc-toolbar {
    flex-direction: column;
    gap: 10px;
  }

  .rbc-toolbar-label {
    font-size: 0.9rem;
  }
}
